config = {
       'baseURL': "http://localhost/mycyclopedia",
       'dictDir': "/var/whatever/mycyclopedia",
       'authorName': "The Author",
       'siteTitle': "Mycyclopedia",
       'startingYear': 2009,
       'defaultPage': 'Start'
}