<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{{site_title}} - {{term}}</title>
{% block includes %}
<script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='showdown.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.markedit.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery.markedit.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='exsequiae.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='smoothness/jquery-ui.css')}}" />

<script type="text/javascript">

var logged_in = {{'true' if 'username' in session else 'false'}};

$(function() {
    $('#content').data('term', {{term|tojson|safe}});
});
</script>
{% endblock %}
</head>
<body>
<div id="page">
  <h1><a href="{{url_for('defs.index')}}">{{site_title}}</a> <small>{{term}}</small></h1>
{% block content %}
<div id="metadata">
  {% if metadata.get('type',None) %}
      <span class="type">{{metadata['type']}}</span>
  {% endif %}
  {% if metadata.get('language',None) %}
      <span class="language">{{metadata['language']}}</span>
  {% endif %}
</div>

<div id="content">
{% if metadata.get('status',None) == 'incomplete' %}
    <span class="warning">This text is still unfinished</span>
{% endif %}

{{defHtml | safe}}

<span class="documentDate">
{% if metadata.get('date',None) %}
    {{metadata['date'] | d}}
{% endif %}
</span>

</div>
<div id="footer">
  <span class="sign">❧</span>
  <span>
  {{author_name}}
  {% if metadata.get('date',None) %}
      {{metadata['date'].strftime("%Y")}}
  {% else %}
      {{', '.join(years)}}
  {% endif %}
  </span>
</div>
{% endblock %}
</div>
</body>
</html>
