{% extends 'page.html' %}
{% block includes %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static',
filename='plupload.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='plupload.html5.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',
filename='jquery.ui.plupload.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',
filename='resources.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery.ui.plupload.css')}}">
{% endblock %}
{% block content %}
<div id="content">
  <table id="resource_list">
    {% for resource in storage_node: %}
        <tr class="resource" data-name="{{resource.name}}">
          <td class="name">{{resource.name}}</td>
          <td class="name">{{resource.size // 1024}} kb</td>
          <td class="mime">{{resource.mime}}</td>
          {% if 'username' in session: %}
              <td><a href="#" class="delete">delete</a></td>
          {% endif %}
        </tr>
    {% endfor %}
  </table>
  {% if 'username' in session %}
  <div id="uploader">
    Javascript is off?
  </div>
  {% endif %}
</div>
{% endblock %}
